<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layouts/base">
<body>
    <div th:fragment="contenido">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Alquileres Activos</h2>
            <a th:href="@{/alquileres/nuevo}" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Nuevo Alquiler
            </a>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Libro</th>
                    <th>Lector</th>
					<th class="text-center">Inicio</th>
                    <th class="text-center">Fecha Fin</th>
                    <th class="text-end pe-4">Precio</th>
					<th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alquiler : ${alquileres}">
                    <td th:text="${alquiler.libro.titulo}"></td>
                    <td th:text="${alquiler.lector.nombre}"></td>
					<td class="text-center" th:text="${alquiler.fechaInicio}"></td>
                    <td class="text-center" th:text="${alquiler.fechaDevolucionPrevista}"></td>
					
					<td class="text-end fw-bold text-primary"
						th:text="${alquiler.precioTotal != null} ? ${#numbers.formatDecimal(alquiler.precioTotal, 1, 2) + ' €'} : '0.00 €'">
					</td>
                    <td class="text-center">
                        <a th:href="@{/alquileres/{id}(id=${alquiler.id})}" class="btn btn-sm btn-info">
                            Ver
                        </a>
                        
                        <form th:action="@{/alquileres/devolver/{id}(id=${alquiler.id})}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-success" 
                                    onclick="return confirm('¿Confirmar devolución?')">Devolver</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div th:if="${#lists.isEmpty(alquileres)}" class="alert alert-info">
            No hay libros alquilados actualmente.
        </div>
    </div>
</body>
</html>